@font-face {
  font-family: "Andrea Bellarosa";
  src: local("Andrea Bellarosa"),
    url(./fonts/Andrea-Bellarosa.ttf) format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1e8e1;
  font-family: "Andrea Bellarosa";
  color: #a17f5c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
